<html>
<body>
<div>
    <form method="post">
        <input type="text" name="mark" placeholder="Введите марку атомобиля">
        <input type="text" name="color" placeholder="Введите цвет атомобиля">
        <input type="text" name="number" placeholder="Введите номер атомобиля">
        <button type="submit">Добавить</button>
    </form>
</div>
<form method="post" action="filterCars">
    <input type="text" name="filterCars">
    <button type="submit">Find for number</button>
</form>
<div>Cars list</div>
{{#cars}}
    <div>
        <span>{{id}}</span>
        <span>{{mark}}</span>
        <span>{{color}}</span>
        <span>{{number}}</span>
    </div>
{{/cars}}
</body>
</html>