.header {
    width: 100%;
    border-bottom: 2px solid #4ad60a;
    background-color: #292929;
    text-align: right;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

a {
    font-family: Impact;
    color: #4ad60a;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    text-decoration: none;
    padding-right: 20px;
}